---
layout: compress
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
    {% include head.html %}
    <body class="main-page has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}
            <section class="content">
                {{ content }}
            </section>
            <footer>
                <ul>
                    {% for link in site.links %}
                      <li><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                    <li><a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed">Feed</a></li>
                </ul>
            </footer>
            <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
            {% include stats.html %}

    </body>
</html>
